server:
  port: 8080

spring:
  application:
    name: board
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:~/test
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
# mysql 연결
  datasource:
      url: jdbc:mysql://localhost:3306/testdb?useSSL=false&serverTimezone=UTC
      username: root
      password: 1234
      driver-class-name: com.mysql.cj.jdbc.Driver